* text=auto eol=lf

*.png binary
*.jpg binary

artifacts/** -text

content/** text eol=lf
*.py text eol=lf
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.md text eol=lf
Dockerfile text eol=lf
*.sh text eol=lf
